.card {
    background:#fff;
    box-shadow: $box-shadow-lg;
    border:none;

    margin-bottom:30px;

    .card-header {
        background:transparent;
        border: none;
        &[class*='bg-'] {
            padding:20px 30px 10px;
        }
        &:not([class*='bg-']) {
            padding:30px 30px 0;
        }
        color: $text-muted;
    }

    .card-body {
        padding:30px;
    }
    .card-title, .card-header .card-title {
        font-size:16px;
        color: #909090;
    }
    .card-subtitle, .card-header .card-subtitle {
        font-size:11px;
        color: #909090;
        font-weight:400;
        text-transform: none;
    }

    .dashboard & {
        .card-title, .card-header .card-title,
        .card-subtitle, .card-header .card-subtitle{
            font-weight:400;
        }
    }

    .actions {
        position:absolute;
        right:30px;
        top:30px;
        text-align:right;

        .date-picker-action {
            cursor:pointer;
            font-size:0.7em;
            margin-right:10px;
        }
    }

    // Vertical Tabs
    .tabs.row.no-gutters {
        .col-auto {
            &:after {
                position:absolute;
                left:100%;
                top:0;
                width:20px;
                height:100%;
                content:"";
                @include linear-gradient(90deg,rgba(#000,0.05),rgba(#000,0));
            }
        }
        .card-header.nav.nav-pills {
            padding:0;
            border-top-left-radius: 26px !important;
            border-bottom-left-radius: 26px !important;
            overflow:hidden;

            .nav-link {
                text-align:center;
                padding:34px 10px;
                min-width:120px;
                color:$text-muted;
                font-weight:bold;
                border-radius:0;

                &.active {
                    background:#F9F9F9;
                    color:$text-muted;
                    border-right:3px solid $primary;
                }
            }
        }
    }

    // Horizontal Tabs
    > .tabs {
        .card-header {
            padding:0;
            position:relative;

            &:after {
                position:absolute;
                top:100%;
                left:0;
                height:20px;
                width:100%;
                content:"";
                opacity:0.05;
                @include linear-gradient(180deg,#000,#fff);
                z-index:2;
            }

            .card-header-pills {
                margin-left:0;
                margin-right:0;
                overflow:hidden;
                border-top-left-radius: 26px !important;
                border-top-right-radius: 26px !important;

                .nav-item {
                    flex-grow: 1;
                }
                .nav-link {
                    padding:27px 10px;
                    text-align:center;
                    color:$text-muted;
                    border-radius:0;
                    font-weight:bold;

                    &.active {
                        background:transparent;
                        color:$text-muted;
                        border-bottom:3px solid $orange;
                    }
                }
            }
        }

        .tab-content:not(.col) {
            > .tab-pane {
                padding:0 20px 20px;
            }
        }
    }
}
