// Range Input
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 3px 0;
    border-radius: 10px;
    &:focus {
        outline: none;
        &::-webkit-slider-runnable-track {
            background: #478dcb;
        }
        &::-ms-fill-lower {
            background: #478dcb;
        }
        &::-ms-fill-upper {
            background: #478dcb;
        }
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 12px;
        cursor: pointer;
        border-radius: 5px;
    }
    &::-webkit-slider-thumb {
        box-shadow: 1px 1px 10px rgba(#000, 0.3), 0 0 1px rgba(#000, 0.3);
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3px;
    }
    &::-moz-range-track {
        width: 100%;
        height: 12px;
        cursor: pointer;
        border-radius: 5px;
        border: 0 solid #010101;
    }
    &::-moz-range-thumb {
        box-shadow: 1px 1px 10px rgba(#000, 0.3), 0 0 1px rgba(#000, 0.3);
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background: #ffffff;
        cursor: pointer;
    }
    &::-ms-track {
        width: 100%;
        height: 12px;
        cursor: pointer;
        background: transparent;
        color: #fff;
    }
    &::-ms-fill-lower {
        border-radius: 10px;
    }
    &::-ms-fill-upper {
        border-radius: 10px;
    }
    &::-ms-thumb {
        box-shadow: 1px 1px 10px rgba(#000, 0.3), 0 0 1px rgba(#000, 0.3);
        width: 16px;
        border-radius: 8px;
        background: #ffffff;
        cursor: pointer;
        height: 12px;
    }

    @each $color, $value in $theme-colors {
        &.range-#{$color} {
            background: $value;
            &:focus {
                outline: none;
                &::-webkit-slider-runnable-track {
                    background: lighten($value,10%);
                }
                &::-ms-fill-lower,
                &::-ms-fill-upper {
                    background: lighten($value,10%);
                }
            }
            &::-ms-fill-lower,
            &::-ms-fill-upper {
                background: $value;
            }
            &::-webkit-slider-runnable-track,
            &::-moz-range-track,
            &::-ms-fill-lower,
            &::-ms-fill-upper {
                background:$value;
            }
        }
    }
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
    color: $text-muted;
    font-size:0.85em;
    letter-spacing:1px;

    &.form-control-lg {
        font-size:1.1em;
    }
}

.col-form-label {
    text-transform:uppercase;
    font-size:0.8em;
    letter-spacing:1px;
}
