.login {
    position:relative;
    height:100vh;

    &:after {
        position:absolute;
        height:50%;
        width:100%;
        top:0;
        z-index:-1;
        pointer-events: none;
        content:"";
        background:#85C7FF url('~assets/img/mountains.svg') no-repeat 50% 100%;
        background-size:contain;
    }

    .logo {
        margin:{
            top:-258px;
            bottom:20px;
        };

        img {
            width:240px;
        }
    }

    .container {
        max-width:310px;
        height:50vh;
        padding-top:50vh;
        margin:0 auto 0;
        position:relative;

        input:-webkit-autofill {
            background:#fff;
            color:$blue;
        }

        .btn {
            font-weight:bold;
        }
    }
}
